/OlaMundoSwing/target/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/RelogioSwing/target/
/DadosAleatorios/target/
/mavenproject1/target/
/JavaFXApplication2/nbproject/private/
/Exercicios001/nbproject/private/
/exercicio0001/target/
/ex00001/target/
/java1/target/
/TiposPrimitivos/target/
/TesteTipos/nbproject/private/
/Exercise01/nbproject/private/
/Exercise01/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/Supercalculadora/nbproject/private/
/Supercalculadora/build/
/Supercalculadora/dist/
/Exercise01/dist/
/Exercicio04/nbproject/private/
/Exercicio04/build/
/Exercicio04/dist/
/Exercicio004/target/
/exercicio005/target/
/arraysExercicios/target/
/LeitorDePensamentos/nbproject/private/
/LeitorDePensamentos/build/
/EquacaoSegundoGrau/target/
/JavaApplication13/nbproject/private/
/JavaApplication13/build/
/ProgramPernas/target/
/ProjetoTriangulo/nbproject/private/
/ProjetoTriangulo/build/
/Contador01/nbproject/private/
/Contador01/build/
/Contador001/target/
/Contador02/nbproject/private/
/Contador02/build/
/ProjetoFatorial/nbproject/private/
/ProjetoFatorial/build/
/Repeticao01/target/
/numeros/nbproject/private/
/numeros/build/
/ExercicioRepita/nbproject/private/
/ExercicioRepita/build/
/RepeticaoFor/nbproject/private/
/RepeticaoFor/build/
/JavaApplication121/nbproject/private/
/JavaApplication121/build/
/Vetor01/nbproject/private/
/Vetor001/nbproject/private/
/Vetor001/build/
/Vetor02/nbproject/private/
/Vetor02/build/
/Vetor03/nbproject/private/
/Vetor03/build/
/Vetor04/nbproject/private/
/Vetor04/build/
/Vetor8/nbproject/private/
/vetor05/nbproject/private/
/vetor05/build/
/TesteFuncao01/nbproject/private/
/TesteFuncao01/build/
/TesteFuncao02/nbproject/private/
/TesteFuncao02/build/
